main {
  text-align: center;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 1rem;
  padding: 1rem;
}

.button.isPrimary {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  background-color: hsl(220, 80%, 50%);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.25px;
}
.button.isPrimary:hover,
.button.isPrimary:focus {
  background-color: hsl(220, 80%, 65%);
}
.button.isPrimary:active {
  background-color: hsl(220, 80%, 35%);
}
