.PlayerCard {
  border-radius: 0.5rem;
  box-shadow: 0 3px 12px 0 hsl(220, 15%, 88%);
  padding: 1rem;
  background-color: hsl(220, 15%, 99%);
}
.PlayerCard > div {
  padding: 0.5rem 0;
}

.name {
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
  background-color: transparent;
  margin-bottom: 1rem;
}
.isEditing {
  padding: 0.5rem 1rem;
  text-align: center;
}

button {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #eee;
  background-color: transparent;
}
